body {
  background-color: #E8F0F9;
  font: 13px Arial, sans-serif;
}
.body_wrapper {
  width: 550px;
  padding: 25px;
  margin: auto;
  background: #fff url(../images/postageapp.gif) bottom right no-repeat;
  border: 3px solid #000;
}
h1 {
  margin: -25px -25px 25px -25px;
  padding: 0px 25px;
  font: 16px/45px Georgia, serif;
  background: #000 url(../images/header.gif) bottom repeat-x;
  color: #fff;
}
.api_key, form, .response {
  border: 1px solid #e5e5e5;
  padding: 5px;
  margin-bottom: 25px;
  background-color: #eee;
}
.api_key span {
  font-weight: bold;
}
.response {
  background-color: #EDF5FB;
}
.response pre {
  font-size: 11px;
  padding: 5px;
  border: 1px dashed #e5e5e5;
  background-color: #fff;
}
form {
  margin-bottom: 50px;
}
form label {
  display: block;
  margin-bottom: 10px;
  font-weight: bold;
}
form label input, form label textarea {
  display: block;
  width: 480px;
  margin: 5px 0px 0px 25px;
}
form label textarea {
  height: 75px;
}
ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
ul li {
  display: inline;
  margin-right: 10px;
}
ul li a {
  color: #004B97;
  text-decoration: none;
}
ul li a:hover {
  text-decoration: underline;
}